:host {
  text-align: center;
  display: block;
  margin-top: 30%;
}

form {
  max-width: 300px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.actions {
  text-align: center;
}

.centeredContainer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
