<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <editable (update)="updateField(index, 'name')">
            <ng-template viewMode>
              {{row.name}}
            </ng-template>
            <ng-template editMode>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="getControl(index, 'name')">
                <mat-error *ngIf="getControl(index, 'name').hasError('required')">
                  Field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </editable>
        </td>
      </ng-container>
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let row; let index = index">
          <editable (update)="updateField(index, 'author')">
            <ng-template viewMode>
              {{row.author}}
            </ng-template>
            <ng-template editMode>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="getControl(index, 'author')">
                <mat-error *ngIf="getControl(index, 'author').hasError('required')">
                  Field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </editable>
        </td>
      </ng-container>
      <ng-container matColumnDef="publishingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Publishing Date
        </th>
        <td mat-cell *matCellDef="let row; let index = index">
          <editable (update)="updateField(index, 'publishingDate')">
            <ng-template viewMode>
              {{row.publishingDate | date}}
            </ng-template>
            <ng-template editMode>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker" [formControl]="getControl(index, 'publishingDate')">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="getControl(index, 'publishingDate').hasError('required')">
                  Field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </editable>
        </td>
      </ng-container>
      <ng-container matColumnDef="genresId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Genre
        </th>
        <td mat-cell *matCellDef="let row; let index = index">
          <editable (update)="updateField(index, 'genresId')">
            <ng-template viewMode>
              {{row.genresId}}
            </ng-template>
            <ng-template editMode>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="getControl(index, 'genresId')">
                <mat-error *ngIf="getControl(index, 'genresId').hasError('required')">
                  Field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </editable>
        </td>
      </ng-container>
      <ng-container matColumnDef="notation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Notation
        </th>
        <td mat-cell *matCellDef="let row; let index = index">
          <editable (update)="updateField(index, 'notation')">
            <ng-template viewMode>
              {{row.notation}}
            </ng-template>
            <ng-template editMode>
              <mat-form-field class="example-full-width">
                <input matInput [formControl]="getControl(index, 'notation')">
                <mat-error *ngIf="getControl(index, 'notation').hasError('required')">
                  Field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ng-template>
          </editable>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="deleteItem(row.id)"><mat-icon>{{deleteIcon}}</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-toolbar>
    <mat-toolbar-row>
      <a mat-raised-button color="primary" (click)="addNewBook()">Add</a>
      <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
